@import "vars";

.hero {
  padding: 51px 0 0 0;

  &__inner {
    display: flex;
  }
  &__lamp {
    display: flex;
  }
  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: $dark;
  }

  &__logo {
    transform: rotate(3.44deg);
    padding: 0 143px 68px 38px;
  }
  &__info {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: $grey;
    padding: 40px 57px 61px 0;
  }
  &__link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: $light;
    padding: 32px 118px 32px 117px;
    border: 2px solid $dark;
    background: $dark-grey;
    border-radius: 15px;
    text-decoration: none;
  }
  &__right {
    padding: 0;
    margin: 0;
  }
}
