@import "vars";

.pricing {
  &__title {
    padding: 188px 585px 57px 586px;
    margin: 0;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 35px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
  }
  &__img {
    padding: 57px 138px 40px 25px;
  }
  &__img2 {
    padding: 83px 89px 42px 0;
  }
  &__img3 {
    padding: 57px 46px 11px 0;
  }
  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: $dark;

    &-secondary {
      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 48px;
      color: $dark;
    }
  }
  &__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $grey;

    &-secondery {
      background: $accent;
      border-radius: 5px;
      border: 1px solid $accent;
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #546269;
    }
  }
}
